.example {
  border: 2px solid black;
  width: 200px; 
  padding: 10px; 
  margin: auto;
  margin-top:50px; 
 }

#result::-webkit-inner-spin-button {
	display: none;
}

p {
	text-align: center;
}

h1 {
	text-align: center;
	padding-top: 50px;
}